.navBar {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: #203864 solid 4px;
}

.navBar_link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 60px;
}

.navBar_link_element {
    font-size: 20px;
    color: #203864;
    text-decoration: none;
    font-weight: 700;
}

.navBar_link_element_current {
    font-size: 20px;
    color: #203864;
    text-decoration: underline;
    font-weight: 700;

}


@media screen and (max-width: 1200px) {
    .SMI_Logo {
        height: 50%;
        width: auto;
    }
    .Navlink_logo {
        height: 100px;
        object-fit: contain;
    }
    .navBar {
        padding-bottom: 5px;
    }
  }