.cardsProdFlex {
    border: solid 3px #203864;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.cardsProdDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardsProdFlexTitle {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
}

.btnChevron {
    border: none;
    background-color: transparent;
}

.chevron {
    font-size: 20px;
    color: #203864;
}

.cardsProdFlexDesi {
    font-size: 20px;
    font-weight: bold;
    color: #203864;
}

.underline {
    text-decoration: underline;
}

.cardsProdFlexProd {
    display: flex;
    flex-direction: row;
}

.cardsProdFlexProdElement {
    width: 300px;
    color: #203864;
    font-size: 20px;
}

.validProd {
    color: red;
    font-weight: bold;
}

.theo {
    font-size: 15px;
    font-style: italic;
    color: #203864;
}

.cardsProdFlexDetails {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border-top: solid 2px #203864;
    padding-top: 12px;
}

.cardsDetailsElement {
    color: #203864;
    font-size: 20px;
}

.padding {
    padding-left: 25px;
}

.trsDailyFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.daily {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.trsDaily {
    background-color: #F7F7F7;
    color: #203864;
    text-decoration: none;
    line-height: 110%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: #203864 solid 3px;
    font-weight: bold;
    font-size: 25px;
}

.othersDaily {
    background-color: #C9D4DA;
    color: #203864;
    text-decoration: none;
    line-height: 110%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: #203864 solid 2px;
    font-size: 16px;
}

.dayBeforeAfter {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
}

.chevronDay {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.dateTRSdaily {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
