.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding-top: 50px;
}

.footer_logo {
    height: 50px;
    object-fit: contain;
}

.footer_alert {
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: #203864;
    text-decoration: underline;
}