.allPi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 12px;
}

.cardsPi {
    border: solid 2px #203864;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 250px;
    background-color: #F7F7F7;
}

.piElement {
    margin: 0;
    font-size: 15px;
    color: #203864;
}